@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
@section Styles {
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.3/dist/sweetalert2.min.css" rel="stylesheet">
    <style>
        .validation-summary-errors ul{
            padding-left:0rem;

        }
    </style>
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="login-form" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Mật khẩu</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Đăng nhập</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Quên mật khẩu?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Đăng ký mới</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Gửi lại email xác nhận tài khoản</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.3/dist/sweetalert2.all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#login-form').submit(function (event) {
                //event.preventDefault();  Ngăn không cho form submit theo cách mặc định

                $.ajax({
                    type: 'POST',
                    url: '@Url.Page("/Account/Login")', // Đường dẫn chính xác đến trang đăng nhập
                    data: $(this).serialize(),
                    success: function (data) {
                        if (data.success === false) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Tài khoản bị vô hiệu hóa',
                                text: decodeHtmlEntities(data.message)
                            });
                        } else {
                            window.location.href = '@Model.ReturnUrl';
                        }
                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: 'Lỗi',
                            text: 'Đã xảy ra lỗi khi thực hiện yêu cầu.'
                        });
                    }
                });
            });

            function decodeHtmlEntities(str) {
                var txt = document.createElement("textarea");
                txt.innerHTML = str;
                return txt.value;
            }
        });
    </script>
}
